<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate min steps to destination page</title>
</head>
<body>

<form action="" method="POST">
    {% csrf_token %}
    <label >Input keyword of destination page:</label>
    <br>
    <input type="text" name="keyword">
    <br>
    <br>
    <input type="submit" value="Search">
    <br>
    <br>
    <a href="/find">Back</a>
    <br>
</form>
<br>
<br>
{% for url,name in route %}
    <h3><a href={{ name }}>{{ url }}</a></h3>
    <br>
{% endfor %}

</body>
</html>